<mat-toolbar class="bg1 topBar sm0 ">
    <div class="nav mw m0 px center ">

        <p class="mat-body mnone px1 flex al gap ">
            <mat-icon>room_service</mat-icon>
            24/7 support</p>

        <p class="mat-body mnone px1 flex al gap">
            <mat-icon>
                my_location</mat-icon>
            Lebanon, Beirut
        </p>
        <p class="mat-body mnone px1 flex al gap">
            <mat-icon>phone_in_talk</mat-icon>
            +961/ 81826445</p>
    </div>
</mat-toolbar>
<mat-divider></mat-divider>
<mat-toolbar class="bg2">

    <div class="nav mw m0 px">

        <div class=" logo ">
          <img
                class="img"
                src="../../../assets/images/aworld.JPG"/>
            <!-- <span class="">{{logo}}</span> -->
            <!-- <img
                class="img"
                src="https://res.cloudinary.com/dwcu3wcol/image/upload/v1658929513/log-removebg-preview_fygpsd.png"/>
            <span class="">{{logo}}</span> -->
        </div>
        <div class="flex">
            <mat-list class="mat-list flex sm0 mt0  ">
                <mat-list-item class="mat-list-item">
                    Pepper
                </mat-list-item>
                <mat-list-item>
                    Salt
                </mat-list-item>
                <mat-list-item>
                    About
                </mat-list-item>
            </mat-list>
            <button class="sm0 cursor" mat-flat-button color="primary">Contact Us</button>
        </div>
        <mat-icon
            class="md"
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="menu"></mat-icon>
    </div>

</mat-toolbar>
