.img {
    width: 100%;
    height: 100%;
    min-height: 300px;
    object-fit: cover;
    position: relative;
    img {
        min-height: 300px;

    }
    .mainText {
        position: absolute;
        left: 5%;
        top: 35%;
        z-index: 22;
        color: white;
        h1 {
            font-size: 2.5em;
            font-weight: 700;
            max-width: 800px;
            line-height: 1.05em;
        }
        button {
            margin-top: 0.5em;
            border-color: white;
            color: white;
        }
    }
}
.shadow {
    width: 100%;
    top: 0;
    height: 100%;
    min-height: 300px;

    right: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.509);
    z-index: 11;
}

@media (max-width: 768px) {
    .shadow {
      height:98%;
    }
    .mainText {
        top: 25%  !important;

      left:0 !important;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding :0 1em;
        h1 {
            text-align: center;
            font-size: 2.7em  !important;
        }
    }


}
@media (min-width: 768px) {
  .img {
    margin-top: 1em;

  }
  .short-desc {

    h1 {
      font-size: 2em;
    }
  }
  .shadow {
    height:99%;
  }
  .mainText {

      h1 {
          font-size: 4em  !important;
      }
  }
}

@media (min-width: 1200px) {

  .mainText {

      h1 {
          font-size: 5em  !important;
      }
  }
}
