<div class="div">

    <h1 class="h1">
        Our Process
    </h1>
    <div class="cont">
        <div class="title">
          <div class="nb">
              1
          </div>
            <h4>
                Your account manager will assemble a dedicated team of expert media buyers and
                content creator specialists that will start implementing the marketing strategy.
            </h4>
        </div>
        <div class="img">
            <img src="https://reachub.co/img/pic2_2022.png" alt="reac"></div>
        </div>
    </div>
