.div {
padding: 1em ;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-evenly;

.t {
  margin-top: 1em;
}
}
.h1 {
  font-weight: 400;
  font-size:2em;
}
.mat-grid-list {
  flex-wrap: wrap;
}
.cont {
  display: flex;
  flex-wrap: wrap;
width: 100%;
.title {
  max-width: 520px;
  gap : 1em;
}

}
.img {
  width : 95%;
  max-width:500px ;
}
.nb {
  padding: .8em;
  background: #3f51b5;
  border-radius: 50%;
  pointer-events: none;
  color:white;
  max-width:30px ;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height:30px ;
}
@media (min-width: 768px) {
  .img {
    width : 50%;
  }
}
